<!DOCTYPE>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Mercedes-Benz Connected Vehicle</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#"><a class="navbar-brand" href="#"><img src="../static/img/oa-logo.png" th:src="@{img/oa-logo.png}" width="200px"/></a></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/vehicle">Vehicle
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Successfully connected to your Vehicle</h1>

                <h5 class="alert alert-warning">Please open simulator before clicking lock/unlock button.</h5>
                <a href="https://car-simulator.developer.mercedes-benz.com" target="_blank" class="btn btn-primary">Mercedes-Benz Car Simulator</a>
                <br><hr><br>
                <div th:switch="${lock}">
                    <h3 class="alert alert-success" th:case="'LOCKED'" th:text="'Your car\'s doors are ' + ${lock}"></h3>
                    <h3 class="alert alert-warning" th:case="'UNLOCKED'" th:text="'Your car\'s doors are ' + ${lock}"></h3>
                </div>
                <div th:switch="${lock}">
                    <a th:href="'/unlock/' + ${id}" class="btn btn-warning" th:case="'LOCKED'">Click to UNLOCK Doors</a>
                    <a th:href="'/lock/' + ${id}" class="btn btn-success" th:case="'UNLOCKED'">Click to LOCK the doors</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>